/.env
/app/vendor/
/app/var/
/app/assets/
/app/bin/
/app/files/
/app/public/*
!/app/public/.gitkeep
/app/system/
/app/templates/
/app/.twig-cs-fixer.cache
/node_modules/
/app/.env.local
/.phpunit.result.cache
/.phpunit.cache/
/test-results/
/playwright-report/

/dist/
/.firecrawl/
